.map {
    grid-column: 2;
}

.contact ul li {
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 1rem;
}

.contact ul li::before {
    background-color: #fb5;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    width: 20px;
}

@media (max-width: 700px) {
    .map,
    .contact ul {
        grid-column: 1 / -1;
    }
}