.grid-container {
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 700px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}